@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
        
html {
    scroll-behavior: smooth;
}

:root{
    --call-action: #6CD4FF;
    --text-color: #FFF;
    --text-altern: #000;
    --sobre-mi: #111135;
    --sobre-p: #565656;
    --container-img: #F3F3F3;
    --titulo-seccion: #d3d3d3;
    --skill-barra: #919191;
    --efecto-hover: #ffc72c;
    --color-icono: #EFBCD5;
}

/**********************/
/* seccion INICIO */
/**********************/
        
#inicio {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/Header.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
} 
#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
} 
#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: var(--call-action);
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: var(--call-action);
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: var(--call-action);
}

#inicio .contenido header .contenido-header .seleccionado {
    color: var(--call-action);
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: var(--call-action);
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 15px 25px 20px 25px;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: var(--call-action);
}

#icono-nav {
    color: var(--text-color);
    display: none;
}

/**********************/
/* seccion SOBRE MI */
/**********************/

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: var(--sobre-mi);
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--container-img);
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--sobre-mi);
    text-decoration: underline;
    text-decoration-color: var(--titulo-seccion);
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: var(--call-action);
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: var(--sobre-p);
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-altern);
    border-radius: 30px;
    border: 1px solid var(--text-altern);
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: var(--call-action);
    color: var(--text-color);
}

/**********************/
/* seccion SERVICIOS */
/**********************/
        
#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: var(--container-img);
}

#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--sobre-mi);
    text-decoration: underline;
    text-decoration-color: var(--titulo-seccion);
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: var(--text-color);
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-icono);
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: var(--text-altern);
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}

/**********************/
/* seccion SKILLS */
/**********************/
        
.contenedor-skills {
    background: linear-gradient( #ADFCF9, rgba(55, 112, 114, 0.378)), url("../img/bebe-principal.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
 
.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    flex-direction: row-reverse;
}

.contenedor-skills h3{
    font-size: 35px;
    margin-inline-start: 8em;
    margin-inline-end: 8em
}

.contenedor-skills p{
    font-size: 20px;
    font-style: italic;
}

/**********************/
/* seccion FAQ */
/**********************/
        
.title{
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.subtitle{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-style: oblique;
}

.questions-container{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.question{
    border-bottom: 1px solid #fff;
}

.question button{
    width: 100%;
    background-color: #ABDAE1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.question p{
    font-size: 16px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}

.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*Luego de hacer click*/
.question p.show{
    max-height: 450px; 
    opacity: 1;
    padding:15px 15px 20px 15px;
}

.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

/**********************/
/* seccion PORTFOLIO */
/**********************/
        
#portfolio {
    max-width: 1100px;
    padding: 40px 0;
    margin: auto;
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--sobre-mi);
    text-decoration: underline;
    text-decoration-color: var(--titulo-seccion);
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid var(--text-altern);
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyecto img {
    width: 345px;
    height: 190px;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--call-action);
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto a {
    color: var(--efecto-hover);
    text-decoration: none;
    cursor: pointer;
}

#portfolio .fila .proyecto a:hover {
    color: var(--call-action);
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
        
/**********************/
/* seccion FOOTER */
/**********************/
        
footer {
    background-color: var(--text-altern);
    color: var(--text-color);
    text-align: center;
    padding: 30px 0;
}
    
footer a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/**********************/
/* seccion RESPONSIVE */
/**********************/
        
@media screen and (max-width: 980px) {
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto{
        margin: 10px auto;
        max-width: 320px;
    }
}

@media screen and (max-width: 768px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    /* seccion SOBRE MI */
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #sobremi .sobremi h3 {
        font-size: 17px;
        text-align: center;
    }
    #sobremi .sobremi p {
        font-size: 14px;
        text-align: justify;
    }
    /* seccion SKILLS */
    .contenedor-skills h3{
        font-size: 32px;
        margin-inline-start: 1.3em;
        margin-inline-end: 1.3em
    }
    .contenedor-skills p {
        font-size: 20px;
    }
    /* seccion MIS SERVICIOS */
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
        padding: 0 5px 0 5px;
        margin: 35px auto;
    }
    #servicios .fila .servicio {
        margin: 10px auto;
    }
    /* seccion HABLIDADES MI */
    .contenedor-skills {
        padding: 50px 20px;
    }
    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
        margin: 15px;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
        max-width: 82%;
        margin-bottom: 15px;
        padding: auto;
    }
    /* seccion FAQ */
    .question p.show{
        max-height: 750px; 
        opacity: 1;
        padding:15px 15px 15px 15px;
        text-align: justify;

    }
    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}

